<!-- templates/quiz/quiz_page.html -->
<h1>Quiz on {{ topic }}</h1>
<form method="POST">
    {% csrf_token %}
    {% for question in quiz_questions %}
        <div>
            <p>{{ question.question }}</p>
            {% for answer in question.incorrect_answers %}
                <input type="radio" name="answer_{{ forloop.counter }}" value="{{ answer }}">
                <label>{{ answer }}</label><br>
            {% endfor %}
            <input type="radio" name="answer_{{ forloop.counter }}" value="{{ question.correct_answer }}">
            <label>{{ question.correct_answer }}</label>
        </div>
    {% endfor %}
    <button type="submit">Submit</button>
</form>
